@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.header {
  position: relative;
}
@media (max-width: 767.98px) {
  .header.active:after {
    left: -1000px;
  }
  .header:after {
    top: 0;
    left: 0;
    z-index: 20;
    content: " ";
    position: fixed;
    width: 100%;
    height: 50px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background: #4985FF;
  }
}
.header__ico {
  z-index: 25;
  position: fixed;
  top: 5px;
  left: 30px;
  display: none;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.header__ico img {
  width: 40px;
  height: 40px;
}
@media (max-width: 767.98px) {
  .header__ico {
    display: block;
  }
  .header__ico.active {
    left: -1000px;
  }
}
.header__line {
  position: absolute;
  top: 100px;
  width: 100%;
  opacity: 0.5;
  border: 1px solid #A1A1A1;
}
@media (max-width: 767.98px) {
  .header__line {
    display: none;
  }
}
.header__menu {
  position: relative;
  padding: 40px 0 0 0;
  margin: 0 0 110px 0;
}
.header__menu:before {
  top: 0;
  left: -1000%;
  z-index: 10;
  content: " ";
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: url("../img/first-screen/bg-apadtive.jpg") no-repeat center top/cover;
}
@media (max-width: 767.98px) {
  .header__menu {
    margin: 0;
    padding: 20px;
  }
  .header__menu.active:before {
    left: 0;
  }
  .header__menu.active ul {
    left: 30px;
  }
}
.header__menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.header__menu a:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #0000CD;
}
.header__menu ul {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767.98px) {
  .header__menu ul {
    padding: 0;
    z-index: 20;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -1000%;
  }
}
.header__menu ul li {
  padding: 0 20px 40px 20px;
}
@media (max-width: 767.98px) {
  .header__menu ul li {
    padding: 0 0 20px 0;
  }
}
.header__menu ul li:first-child {
  border-bottom: 2px solid #FFFFFF;
}
@media (max-width: 767.98px) {
  .header__menu ul li:first-child {
    border-bottom: none;
  }
}

.footer {
  background: #F6F6F8;
}
.footer__body {
  padding: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .footer__body {
    display: block;
  }
}
.footer__body a {
  font-size: 14px;
  line-height: 40px;
  color: #999999;
}
.footer__body a:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #0000CD;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 30px 0;
}
.footer__line {
  margin: 50px 0 30px 0;
  max-width: 1110px;
  border: 1px solid #E0E0E0;
}
.footer__text {
  padding: 0 0 30px 0;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}
.footer__contacts {
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .footer__contacts {
    max-width: 245px;
    margin: 0 auto 20px auto;
  }
}
.footer__projects {
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .footer__projects {
    max-width: 245px;
    margin: 0 auto 20px auto;
  }
}
.footer__social {
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .footer__social {
    max-width: 245px;
    margin: 0 auto 20px auto;
  }
}
.footer__links {
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .footer__links {
    max-width: 245px;
    margin: 0 auto 20px auto;
  }
}

.header-burger {
  z-index: 25;
  top: 17px;
  right: 30px;
  position: fixed;
  width: 30px;
  height: 20px;
  display: none;
}
@media (max-width: 767.98px) {
  .header-burger {
    display: block;
  }
}
.header-burger span {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-burger:before,
.header-burger:after {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header-burger:before {
  top: 0;
}

.header-burger:after {
  bottom: 0;
}

.header-bot-menu.active {
  top: 100px;
}

.header-burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header-burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.header-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container {
  max-width: 1153px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1153px) {
  .container {
    max-width: 992.98px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 767.98px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 479.98px;
  }
}

body {
  font-family: Montserrat;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.first-screen {
  background: url("../img/first-screen/bg.jpg") no-repeat center top/cover;
  min-height: 100vh;
}
.first-screen__body {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .first-screen__body {
    margin-top: 100px;
  }
}
.first-screen__category {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 -30px 0;
}
.first-screen__title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 50px auto;
  max-width: 829px;
}
@media (max-width: 992.98px) {
  .first-screen__title {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .first-screen__title {
    font-size: 30px;
  }
}
.first-screen__button {
  margin: 0 auto;
}

.btn {
  text-align: center;
  padding: 13px 36px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  max-width: 200px;
  height: 45px;
  cursor: pointer;
}
.btn:hover {
  background: #0000CD;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.btn a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.srvice-screen {
  padding: 90px 0 90px 0;
}
@media (max-width: 767.98px) {
  .srvice-screen {
    padding: 45px 0;
  }
}
.srvice-screen__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  max-width: 739px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .srvice-screen__title {
    font-size: 30px;
    line-height: 43px;
  }
}
@media (max-width: 479.98px) {
  .srvice-screen__title {
    font-size: 36px;
  }
}
.srvice-screen__subtitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  max-width: 730px;
  margin: 110px auto;
}
@media (max-width: 767.98px) {
  .srvice-screen__subtitle {
    margin: 60px auto;
  }
}
.srvice-screen__service {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1153px) {
  .srvice-screen__service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.srvice-screen__service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 27px 55px 0;
}
.srvice-screen__service__item__icon {
  margin: -40px 18px 0 0;
}
.srvice-screen__service__item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 12px 0;
}
.srvice-screen__service__item__subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  max-width: 222px;
}
.srvice-screen__button {
  margin: 0 auto;
}

.aboutus-screen {
  background: #F6F6F8;
  padding: 152px 0 0 0;
}
@media (max-width: 767.98px) {
  .aboutus-screen {
    padding: 60px 0 0 0;
  }
}
.aboutus-screen__top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}
@media (max-width: 992.98px) {
  .aboutus-screen__top__body {
    display: block;
    text-align: center;
  }
}
.aboutus-screen__top__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin: 0 0 40px 0;
}
.aboutus-screen__top__subtitle {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  max-width: 489px;
  margin: 0 0 30px 0;
}
@media (max-width: 992.98px) {
  .aboutus-screen__top__subtitle {
    margin: 0px auto;
  }
}
.aboutus-screen__top__link {
  max-width: 202px;
  margin: 0 0 80px 0;
}
@media (max-width: 992.98px) {
  .aboutus-screen__top__link {
    margin: 40px auto;
  }
}
.aboutus-screen__top__body__right img {
  margin: -40px 0 0 0;
}
@media (max-width: 992.98px) {
  .aboutus-screen__top__body__right img {
    margin: 0;
    width: 100%;
  }
}
.aboutus-screen__line {
  border: 1px solid #E0E0E0;
  max-width: 1110px;
  margin: 0 0 70px 0;
}
.aboutus-screen__bot {
  padding: 0 0 70px 0;
}
.aboutus-screen__bot__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992.98px) {
  .aboutus-screen__bot__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 479.98px) {
  .aboutus-screen__bot__body {
    display: block;
  }
}
.aboutus-screen__bot__item {
  max-width: 100px;
  margin: 0 0 0 100px;
}
@media (max-width: 1153px) {
  .aboutus-screen__bot__item {
    margin: 0 0 20px 70px;
  }
}
@media (max-width: 479.98px) {
  .aboutus-screen__bot__item {
    margin: 20px auto;
  }
}
.aboutus-screen__bot__item__number {
  padding: 0 0 0 40px;
  margin: 0 0 15px 0;
  font-size: 36px;
  color: #000000;
  background: url("../img/aboutus-screen/02.svg") no-repeat center left;
}
.aboutus-screen__bot__item__text {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #4985FF;
}
.link a {
  color: #4985FF;
}

.allservices-screen {
  height: 972px;
  position: relative;
}
@media (max-width: 767.98px) {
  .allservices-screen {
    padding: 50px 0;
  }
}
.allservices-screen__body {
  height: 100%;
  z-index: 10;
}
.allservices-screen__body:after {
  top: 0;
  left: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 55%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}
@media (max-width: 479.98px) {
  .allservices-screen__body:after {
    height: 49%;
  }
}
.allservices-screen__body__top {
  padding: 109px 0 0 0;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .allservices-screen__body__top {
    display: block;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 479.98px) {
  .allservices-screen__body__top {
    padding: 0;
  }
}
.allservices-screen__title {
  max-width: 540px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .allservices-screen__title {
    text-align: center;
    font-size: 30px;
    line-height: 43px;
  }
}
@media (max-width: 479.98px) {
  .allservices-screen__title {
    font-size: 25px;
    line-height: 33px;
  }
}
@media (max-width: 767.98px) {
  .allservices-screen__button {
    margin: 30px auto 20px auto;
  }
}
.allservices-screen__item {
  max-width: 350px;
  margin: 0 0 30px 0;
}
@media (max-width: 767.98px) {
  .allservices-screen__item {
    margin: 30px auto;
  }
}
.allservices-screen__item__img {
  margin: 0 0 32px 0;
}
.allservices-screen__item__img img {
  width: 100%;
}
.allservices-screen__item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 32px 0;
}
@media (max-width: 479.98px) {
  .allservices-screen__item__title {
    font-size: 17px;
  }
}
.allservices-screen__item__title p {
  display: block;
  color: #4985FF;
  margin: 0 5px 0 0;
}
.allservices-screen__item__subtitle {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin: 0 0 32px 0;
}
.allservices-screen__item__link {
  max-width: 97px;
}

.swiper-slide {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .swiper-slide {
    margin: 0;
  }
}

.project-screen {
  background: #F6F6F8;
  padding: 100px 0;
}
@media (max-width: 1153px) {
  .project-screen {
    margin: 30px 0 0 0;
  }
}
.project-screen__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin: 0 0 50px 0;
}
@media (max-width: 479.98px) {
  .project-screen__title {
    font-size: 30px;
  }
}
.project-screen__subtitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  max-width: 730px;
  margin: 0 auto 50px auto;
}
.project-screen__projectbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project-screen__project-body__item {
  margin: 0 0 50px 0;
}
@media (max-width: 767.98px) {
  .project-screen__project-body__item {
    margin: 0 auto 50px auto;
  }
}
.project-screen__button {
  margin: 0 auto;
}

.video-screen {
  background: url("../img/Rectangle.jpg") no-repeat center top/100% 70%;
}
.video-screen__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  padding: 70px 0 30px 0;
}
@media (max-width: 767.98px) {
  .video-screen__title {
    font-size: 30px;
    padding: 35px 0 15px 0;
  }
}
@media (max-width: 479.98px) {
  .video-screen__title {
    font-size: 22px;
    line-height: 33px;
  }
}
.video-screen__subtitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0 70px 0;
}
@media (max-width: 767.98px) {
  .video-screen__subtitle {
    padding: 0 0 35px 0;
  }
}
.video-screen__line {
  max-width: 1110px;
  border: 1px solid #E0E0E0;
  margin: 0 0 85px 0;
}
@media (max-width: 767.98px) {
  .video-screen__line {
    margin: 0 0 45px 0;
  }
}
.video-screen img {
  max-width: 100%;
  display: block;
  margin: auto auto 85px auto;
}
@media (max-width: 767.98px) {
  .video-screen img {
    margin: auto auto 45px auto;
  }
}

.subcribe-screen__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 0 0 20px 0;
}
.subcribe-screen__subtitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin: 0 0 30px 0;
}
.subcribe-screen__inbt {
  max-width: 489px;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subcribe-screen__inbt input {
  padding-left: 20px;
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
}
.subcribe-screen__inbt button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 50%;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
}
@media (max-width: 479.98px) {
  .subcribe-screen__inbt button {
    font-size: 12px;
  }
}
.subcribe-screen__subtitle2 {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  padding: 0 0 85px 0;
}